# Ignore node_modules directory
node_modules/

# Ignore TypeScript build output
dist/

# Ignore environment files
.env

# Ignore VSCode settings
.vscode/

# Ignore package-lock files
package-lock.json
